# Pawcare application configurations
DB_HOST=
DB_PORT=
DB_USER=
DB_PASS=

# Keycloak configurations
KEYCLOAK_HOSTNAME=
KEYCLOAK_USERNAME=
KEYCLOAK_PASSWORD=
KEYCLOAK_CLIENT_ID=
KEYCLOAK_CLIENT_SECRET=
KEYCLOAK_DB_USER=
KEYCLOAK_DB_PASSWORD=
